# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.so
*.egg-info/
.dist-info/
build/
dist/
.eggs/

# Virtual environments
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# Spark / PySpark
.metastore_db/
*.crc

# Kafka / local data
/data/_checkpoints/
/data/orders_json/
/data/invalid_events
output/

# OS / editor
.DS_Store
.vscode/
.idea/

# Logs
*.log
